<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="UBT_Data_ConnectionString" 
         connectionString="Data Source=(localDB)\MSSQLLocalDB;              
         AttachDbFilename=|DataDirectory|\UBT_Data.mdf;Integrated Security=SSPI" 
         providerName="System.Data.SqlClient" />
    <add name="UBT_Users_ConnectionString" providerName="System.Data.SqlClient" 
         connectionString="Data Source=(localDB)\MSSQLLocalDB;
         AttachDbFilename=|DataDirectory|\UBT_Users.mdf;Integrated Security=SSPI" />
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.web>
    
    <authentication mode="Forms">
      <forms loginUrl="Account/Login.aspx" />
    </authentication>
    
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    
    <pages theme="Blue">
      <controls>
        <add tagPrefix="UBT" tagName="ProfileUserControl" src="~/Controls/ProfileUserControl.ascx" />
        <add tagPrefix="UBT" tagName="ChangePasswordUserControl" src="~/Controls/ChangePasswordUserControl.ascx" />
        <add tagPrefix="UBT" tagName="ChangePasswordLink" src="~/Controls/ChangePasswordLink.ascx" />
      </controls>
    </pages>

    <!--Profile Provider -->
    <profile enabled="true" defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" 
             type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="UBT_Users_ConnectionString" 
             applicationName="/" />
      </providers>
    
      <properties>
        <add name="AddressLine1" />
        <add name="AddressLine2" />
        <add name="City"/>
        <add name="PostalCode"/>
        <add name="CustomerID" type="System.Int32"/>
      </properties>
    </profile>
    
    <!-- Membership Provider -->
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" 
             type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="UBT_Users_ConnectionString" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" 
             maxInvalidPasswordAttempts="3" 
             minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="1" 
             passwordAttemptWindow="10" 
             applicationName="/" />
      </providers>
    </membership>
    
    <!-- RoleManager provider -->
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" 
             type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="UBT_Users_ConnectionString" 
             applicationName="/" />
      </providers>
    </roleManager>
    
  <!-- SiteMap Provider-->
    <siteMap>
      <providers>
        <clear />
        <add siteMapFile="web.sitemap"
             name="AspNetXmlSiteMapProvider"
             type="System.Web.XmlSiteMapProvider,
             System.Web, Version=4.0.0.0,
             Culture=neutral,
             PublicKeyToken=b03f5f7f11d50a3a"
             securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>

  </system.web>
  
</configuration>